<div class="row">
  <div class="col">
    <h3>Create Seller</h3>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <form [formGroup]="newSellerForm" (ngSubmit)="saveSeller(newSellerForm.value)">
      <div class="form-group">
        <label for="sellercategory">Category</label>
        <em *ngIf="category.invalid && category.dirty" [ngClass]="{ 'error': category.invalid && category.dirty }" class="float-right">
          Required
        </em>
        <select formControlName="category" class="form-control" (change)="onChangeCategory($event.target.value)">
          <option value="">select category...</option>
          <option [value]="categoryLookup.id" *ngFor="let categoryLookup of categoryLookupCollection">
            {{ categoryLookup.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="tax">Tax</label>
        <em *ngIf="tax.invalid && tax.dirty" [ngClass]="{ 'error': tax.invalid && tax.dirty }" class="float-right">
          Required
        </em>
        <select formControlName="tax" class="form-control">
          <option value="">select tax...</option>
          <option [value]="taxLookup.id" *ngFor="let taxLookup of taxLookupCollection">
            {{ taxLookup.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <em *ngIf="name.invalid && name.dirty && name?.errors.required">Required</em>
        <em *ngIf="name.invalid && name.dirty && name?.errors.nameValid">Not start by capital letter</em>
        <input type="text" formControlName="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="remarks">Remarks:</label>
        <em *ngIf="remarks.invalid && remarks.dirty && remarks?.errors.restrictedWords">Contains retricted words</em>
        <textarea formControlName="remarks" rows=3 class="form-control" placeholder="remarks..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="submit" class="btn btn-default">Cancel</button>
    </form>
  </div>
</div>
